doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    title WarpSpeed Demo - A-Frame Component
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js")
    script(type="text/javascript" src="https://aframe.io/releases/1.0.4/aframe.min.js")
    script(type="text/javascript" src="https://unpkg.com/aframe-animation-timeline-component")
    script(type="text/javascript" src="awt.min.js")
    link(rel="stylesheet" type="text/css" href="style.css")
  body.miniStat
    a-scene(
      renderer="alpha: false; antialias: false"
      vr-mode-ui="enabled: false"
      background="color: #8a0303"
      animation-timeline="timeline: #intro"
      stats)
      a-assets
        a-timeline#intro
          a-timeline-group
            a-timeline-animation(select="#box" name="widescreenw" offset="500")
            a-timeline-animation(select="#box" name="widescreenh" offset="1000")

          a-timeline-group
            a-timeline-animation(select="#box" name="speedup")

          a-timeline-group
            a-timeline-animation(select="#box" name="density")
            a-timeline-animation(select="#box" name="warpon" offset="500")
            a-timeline-animation(select="#box" name="speedupper" offset="500")

          a-timeline-group
            a-timeline-animation(select="#box" name="rot" offset="500")

          a-timeline-group
            a-timeline-animation(select="#box" name="rotall")
            a-timeline-animation(select="#box" name="ow")
            a-timeline-animation(select="#box" name="oh")
            a-timeline-animation(select="#box" name="od")

          a-mixin#star(
            animation__widescreenw="property: geometry.width; from: 0.1; to: 3; dur: 1000; easing: easeInOutCirc; autoplay: false"
            animation__widescreenh="property: geometry.height; from: 0.2; to: 1; dur: 500; easing: easeInElastic; autoplay: false"
            animation__speedup="property: warpspeed.speed; from: 0.1; to: 5; dur: 2000; easing: linear; autoplay: false"
            animation__speedupper="property: warpspeed.speed; from: 5; to: 10; dur: 2000; easing: linear; autoplay: false"
            animation__warpon="property: warpspeed.warpEffectLength; from: 1; to: 10; dur: 2000; autoplay: false"
            animation__density="property: warpspeed.density; from: 5; to: 15; dur: 3000; autoplay: false"
            animation__rot="property: rotation; from: -360 -180 -180; to: 0 -180 -180; dur: 2000; easing: easeInSine; autoplay: false"
            animation__rotall="property: rotation; from: 0 -180 -180; to: 0 0 0; dur: 1000; easing: easeOutSine; autoplay: false"
            animation__ow="property: geometry.width; to: 1; dur: 1000; autoplay: false"
            animation__oh="property: geometry.height; to: 1; dur: 1000; autoplay: false"
            animation__od="property: geometry.depth; from: 0.5; to: 1; dur: 1000; autoplay: false")

      a-camera(position="0 0 2")

      a-entity#box(
        mixin="star"
        position="0 0 0"
        rotation="-360 -180 -180"
        geometry="primitive: box; width: 0.1; height: 0.1; depth: 0.5")

    .error.hidden
      p ⚠ Unable to transfer Canvas Control to a Worker thread! ⚠
      tt Please, see the web console and component readme for details.
      p ヾ( ￣O￣)ツ

    include github.pug
    //bundle
